# =========================
# Python (Backend)
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/
env/

# Packaging / build
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Caches & testing
.pytest_cache/
.mypy_cache/
.cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# =========================
# Node (Frontend)
# =========================

node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# General / Shared
# =========================

# Environment variables
.env

# Logs
logs/
*.log

# IDEs
.vscode/
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.sw?